

<div class="p-3 d-flex"> 
    <p-card header="Ajio" subheader="Ecommerce" [style]="{width:'320px'}" >
        <ng-template pTemplate="header">
            <img src="https://play-lh.googleusercontent.com/ODwuO86g8lbgiWbhRLclRnEstD0WAhlXYW9Me2rY2huXr7H0NYMAKUtwami7uyREN9Q=w600-h300-pc0xffffff-pd" alt="">
        </ng-template>
        <p>
            Here to go for shopping Ajio
        </p>
        <ng-template pTemplate="footer">
            <p-button label="Shop now" routerLink="ajio"></p-button>
            
        </ng-template>
    </p-card>

    <p-card header="Flipkart" subheader="Ecommerce" [style]="{width:'320px'}" class="ms-3"> 
        <ng-template pTemplate="header">
            <img src="https://i.pinimg.com/originals/aa/70/8d/aa708d1f97a04f6f5a208213f89e1e67.png" alt="" style="width: 160px;margin-left: 72px;
            " class="justify-content-center">
        </ng-template>
        <p>
            Here to go for shopping Flipkart
        </p>
        <ng-template pTemplate="footer">
            <p-button label="Shop now" routerLink="flipkart"></p-button>
        </ng-template>  
    </p-card>
    <p-card header="Reliance Digital" subheader="Electronics" [style]="{width:'320px'}" class="ms-3"> 
        <ng-template pTemplate="header">
            <img src="https://pbs.twimg.com/profile_images/646260852719419392/Ar3oqF39_400x400.png" alt="" style="width: 136px;margin-left: 70px;border-radius: 50px;border-radius: 50% ;" class="justify-content-center">
        </ng-template>
        <p>
            Here to go for shopping Reliance Digital
        </p>
        <ng-template pTemplate="footer">
            <p-button label="Shop now" routerLink="reliancedigital"></p-button>
        </ng-template>  
    </p-card>
 
</div>